.container-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.location-input {
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    width: 100%;
    font-size: 1rem;
    margin: 10px 10px 10px 0;
}

