:root {
  --color0: #142d4c;
  --color1: #5585b5;
  --color2: #53a8b6;
  --color3: #79c2d0;
  --color4: #bbe4e9;
  --color5: #ececec;
}


body {
  margin: 0 0 2rem 0;
  color: var(--color5);
  background-color: var(--color0);
    
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color0 {
  color: var(--color0);
}

.color1 {
  color: var(--color1);
}

.color2 { 
  color: var(--color2);
}

.color3 {
  color: var(--color3);
}

.color4 {
  color: var(--color4);
}





